<document>
  <alertTemplate>
    <title>{{Title}}</title>
    <description>Stream List</description>
    {{#each data}}
      <button data-alert-dissmiss="true" data-url="{{url}}">
        <text>{{source}}</text>
      </button>
    {{/each}}
  </alertTemplate>
</document>