<document>
  <alertTemplate>
    <title>{{data.title}}</title>
    <description>Select Stream</description>
    {{#each data.stream}}
      <button data-alert-dissmiss="true" data-url="{{url}}">
        <text>{{source}}</text>
      </button>
    {{/each}}
  </alertTemplate>
</document>